{% macro create(currentPage=1, totalPage='') %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
      <a class="page-link" href="/?currentPage={{ currentPage - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      {% for i in range(totalPage) %}
         <li class="page-item {% if currentPage == i + 1 %}active{% endif %}"><a class="page-link" href="/?currentPage={{ i + 1 }}">{{ i + 1 }}</a></li>
      {% endfor %}
    <li class="page-item {% if currentPage == totalPage %}disabled{% endif %}">
      <a class="page-link" href="/?currentPage={{ currentPage + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endmacro %}